<div class="header">
	<h1>Challenge: Identify as many SKIP codes as you can in 60 seconds!</h1>
</div>
<h2>Time: <span class="countdown">{{countdown}}</span>   |   Score: <span class="score">{{score}}</span></h2>
<button class="button" type="button" ng-click="startGame()">Start Game</button>
<div ng-if="gamestate === true">
    <div class="kanji">
    	<h1>{{kanji.literal}}</h1>
    </div>
    <p>What is the SKIP code of this character?</p>
    <form ng-submit="checkAnswer()">
    	<p>First number:</p>
    	<div>
    		<input type="radio" ng-model="$parent.answer1" value="1"> 1<br>
    		<input type="radio" ng-model="$parent.answer1" value="2"> 2<br>
    		<input type="radio" ng-model="$parent.answer1" value="3"> 3<br>
    		<input type="radio" ng-model="$parent.answer1" value="4"> 4<br>
    	</div>
    	<p>Second number: <input type="text" ng-model="$parent.answer2"></p>
    	<p>Third number: <input type="text" ng-model="$parent.answer3"></p>
    	<input class="button" type="submit" value="Check">
    </form>
	<div class="kanji-selection" ng-if="kanjis.length > 0">
		<p>Please select the right kanji character:</p>
		<div class="kanji-block" ng-repeat="kanji in kanjis | orderBy: 'frequency' track by $index" ng-click="checkKanji($index, kanji.literal)" id="{{$index}}">
			<p>{{kanji.literal}}</p>
		</div>
	</div>
</div>
