<div class="header">
<h1>SKIP - The <span class="underline">S</span>ystem of <span class="underline">K</span>anji <span class="underline">I</span>ndexing by <span class="underline">P</span>atterns</h1>
</div>
<div class="main">
    <h2>Introduction</h2>
    <p>
        The System of Kanji Indexing by Patterns (SKIP) is a system for ordering kanji.
        Developed by Jack Halpern and used as the main index for kanji in the New
        Japanese-English Character Dictionary (Kenkyusha/NTC, 1990) and other dictionaries
        published by the Kanji Dictionary Publishing Society.
    </p>
    <h2>Why use SKIP?</h2>
    <p>
        The system is very convenient because it can be learned quickly, easy to use,
        and requires little prior knowledge of kanji. Instead of organizing kanji based
        on radicals, they are categorized by pattern.
    </p>
    <hr>
    <div class="body-text">
        <h2>Determining SKIP codes</h2>
        <p>
            A SKIP code is made up of three numbers (e.g. "1-4-3"). The first number indicates the
            visual geometry of the kanji character. The remaining two numbers represent the number
            of strokes.
        </p>
        <h3>Visual style and the first SKIP number</h3>
        <p>
            The SKIP system groups kanji based on how the character can be divided into sections.
            There are four main categories:
            <ol>
                <li>
                    <span class="bold">Left-Right:</span> Left-Right kanji can be broken down into vertical sections.
                </li>
                <li>
                    <span class="bold">Up-Down:</span> Up-Down kanji can be broken down into horizontal sections.
                </li>
                <li>
                    <span class="bold">Enclosure:</span> Enclosure kanji have one element surrounding other elements.
                </li>
                <li>
                    <span class="bold">Solid:</span> Solid kanji cannot be broken down into elements based on the other three categories.
                    These kanji are usually formed from a single radical. Solid kanji are broken down into four sub-patterns:
                    <ol>
                        <li>
                            <span class="italics">Top line</span> - Prominent horizontal stroke at the top
                        </li>
                        <li>
                            <span class="italics">Bottom line</span> - Prominent horizontal stroke at the bottom
                        </li>
                        <li>
                            <span class="italics">Through line</span> - Prominent vertical stroke through the middle
                        </li>
                        <li>
                            <span class="italics">Others</span> - Kanji that don't fall into the preceding patterns
                        </li>
                    </ol>
                </li>
            </ol>
            The first number in a SKIP code indicates which category the kanji character belongs in.
        </p>
        <h3>Stroke counts for styles #1, #2, and #3</h3>
        <p>
            For styles 1, 2, 3, the number of strokes in the left/upper/enclosing section will be the second number in the SKIP code.
            The number of strokes in the right/lower/internal section will be the third number in the SKIP code.
        </p>
        <h3>Stroke counts for style #4</h3>
        <p>
            For style 4, the number of strokes in the character will be the second number in the SKIP code. The sub-pattern number will
            be the third number in the SKIP code.
        </p>
    </div>
    <div class="body-image">
        <a title="By Babbage (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3ASKIP_Kanji_method_examples.svg">
            <img width="496" height="600" alt="SKIP Kanji method examples" src="https://upload.wikimedia.org/wikipedia/commons/4/43/SKIP_Kanji_method_examples.svg"/>
        </a>
    </div>
</div>
