<div class="header">
	<h1>Level 2: Identify SKIP code for Left-Right, Up-Down, and Enclosures</h1>
</div>
<div class="kanji">
	<h1>{{kanji.literal}}</h1>
</div>
<p>What is the SKIP code of this character?</p>
<form ng-submit="checkAnswer()">
	<p>First number (visual style):</p>
	<div>
		<input type="radio" ng-model="answer1" value="1"> 1<br>
		<input type="radio" ng-model="answer1" value="2"> 2<br>
		<input type="radio" ng-model="answer1" value="3"> 3<br>
		<input type="radio" ng-model="answer1" value="4"> 4<br>
	</div>
	<p>Second number (stroke count): <input type="text" ng-model="answer2"></p>
	<p>Third number (stroke count): <input type="text" ng-model="answer3"></p>
	<input type="submit" value="Check">
</form>
