.adopt-title {
  text-align: center;
}
.dog-profile {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.dog-profile a {
  text-decoration: none;
  color: black;
}

.dog-profile a:hover {
  color: orange;
}

.dog-profile h3 {
  margin: 0px;
}

.dog-profile img {
  width: 100%;
}

.dog-profile ul {
  list-style-type: none;
  margin: 5px;
  padding: 0px;
}

.dog-profile li {
  line-height: 1;
}

.dog-profile span {
  font-weight: bold;
}
