.home-main-pic {
    max-width: 98%;
    max-height: 98%;
    border: 5px solid black;
}

/* Styling for the Donate and Adopt buttons */
.button-icon {
    vertical-align: -10%;
    margin-right: 5px;
}

.adopt-button {
    border: 2px solid #ff6666;
    color: #ff6666;
    padding: 0px 15px;
    border-radius: 8px;
    /*background-color: #343436;*/
}

.adopt-button:hover {
  color: #343436;
  background-color: #ff6666;
}

.donate-button {
    margin-right: 25px;
    border: 2px solid #9bf09d;
    color: #9bf09d;
    padding: 0px 15px;
    border-radius: 8px;
}

.donate-button:hover {
  color: #343436;
  background-color: #9bf09d;
}
