.home-header {
  text-align: center;
}

.home-header img {
  width: 100%;
}

.post {
  padding: 10px;
}

.post-title {
  margin-bottom: 0px;
}

.post-title img {
  display: inline-block;
  width: 45px;
  margin-right: 10px;
}

.post-title h1 {
  display: inline-block;
  font-size: 30px;
  vertical-align: top;
  line-height: 45px;
}
