.home-main-pic {
    max-width: 98%;
    max-height: 98%;
    border: 5px solid black;
}

/* Styling for the Donate and Adopt buttons */
.button-icon {
    vertical-align: -10%;
    margin-right: 5px;
}

.adopt-button {
    border: 2px solid #F48D2C;
    color: #F48D2C;
    padding: 0px 15px;
    border-radius: 8px;
    background-color: #ffffff;
}

.adopt-button:hover {
  color: #343436;
  background-color: #F48D2C;
}

.donate-button {
    margin-right: 25px;
    border: 2px solid #8FC547;
    color: #8FC547;
    padding: 0px 15px;
    border-radius: 8px;
    background-color: #ffffff;
}

.donate-button:hover {
  color: #343436;
  background-color: #8FC547;
}
