.header-top {
    background-color: #66b3ff;
    text-align: center;
}

.logo-icon {
    height: 50px;
}

.nav-icon {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.nav-icon:active {
    color: orange;
}

.sidebar-title-container {
    background-color: #66b3ff;
    padding: 10px;
    font-size: 1.5em;
    color: white;
}

.nav-link-container {
    min-width: 125px;
    padding: 5px 10px;
}

.nav-link {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    color: black;
    font-size: calc(14px + 0.45vw);
}

.nav-link.activated {
    color: #ffcc33;
    border-bottom: 1px solid #ffcc33;
}

.nav-link:hover {
    color: #9bf09d;
    border-bottom: 1px solid #9bf09d;
}