.logo-icon {
  display: inline-block;
  height: 48px;
  margin-left: 10px;
}

.nav-bar {
  /*background-color: #D3D3D3;*/
  /*opacity: 0.8;*/
  height: 55px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  float: right;
}

.mobile {
  /*background-color: red;*/
}

.mobile .nav-icon {
  float: none;
}

.nav-icon {
  /*display: inline-block;*/
  float: right;
  line-height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-icon:active {
  color: orange;
}

.mobile .nav-menu {
  position: relative;
  margin-top: 5px;
  display: block;
}

.nav-menu {
  display: inline-block;
  vertical-align: top;
}

.mobile .nav-links {
  width: 80px;
  background-color: white;
  /*background-color: #D3D3D3;*/
  opacity: 0.9;
  padding: 5px;
  right: 0;
  position: absolute;
  z-index: 9000;
}

.nav-links {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.mobile .nav-links li {
  display: block;
  line-height: 25px;
}

.nav-links li {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
}

.nav-link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  margin: 0vw 2vw;
  color: black;
  font-size: calc(12px + 0.45vw);
}

.nav-link:hover, .activated {
  color: orange;
  border-bottom: 1px solid orange;
}
