.nav-bar {
  background-color: #D3D3D3;
  opacity: 0.8;
  height: 45px;
  text-align: right;
}

.mobile {
  background-color: red;
}

.mobile .nav-icon {
  float: none;
}

.nav-icon {
  /*display: inline-block;*/
  float: right;
  line-height: 45px;
  margin-right: 10px;
}

.nav-icon:active {
  color: green;
}

.mobile .nav-menu {
  position: relative;
  display: block;
}

.nav-menu {
  display: inline-block;
  vertical-align: top;
}

.nav-links {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.mobile .nav-links li {
  display: block;
  line-height: 30px;
}

.nav-links li {
  display: inline-block;
  vertical-align: top;
  line-height: 45px;
}

.nav-link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  margin: 0vw 2vw;
  color: black;
  font-size: calc(12px + 0.45vw);
  /*text-transform: uppercase;*/
}

.nav-link:hover, .activated {
  border-bottom: 1px solid black;
}
