.header, .footer {
    width: 100%;
    position: fixed;
    background-color: blue;
}

.header {
    top: 0;
    left: 0;
}

.footer {
    bottom: 0;
    left: 0;
}

.logo {
    width: 25%;
    display: inline-block;
    background-color: red;
    /*text-align: center;*/
    padding: 5px;
}

.navLinks {
    /*margin-top: 10px;*/
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 70%;
}

.navLinks ul li {
    display: inline;
    margin-left: 20px;
    background-color: yellow;
}

.navLinks a {
    text-decoration: none;
}

.navLinks a:hover {
    text-decoration: underline;
}
